{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Paneaux d'administration</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css2/css/style.css' %}">
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
  
  
  
 
  <style>
    
    table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* Adjust the value as needed */
    margin-left: auto;
    margin-right: auto;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }


  </style>
</head>

<body >
  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="indigo darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 8%;" width="220" src="{% static 'images/logo.png'%}" class="responsive-img" />
        </div>
      </div>
    </li>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'dashboard' %}">
        <b>Dashboard</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'demandesComptes' %}">
      <b>Validation des comptes</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'listeinscription' %}">
      <b>Liste des inscriptions</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'listeReinscription' %}">
      <b>Liste des réinscriptions</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'etatDavencement' %}">
      <b>Situation doctorants</b>
    </a>
  </li>

  
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'edition_PV_2' %}">
      <b>Edition de PV</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'demandesSoutenances' %}">
      <b>Soutenances</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'ajouterEncadreur' %}">
      <b>Affectation doctorants</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'controlReinscription' %}">
      <b>Control réinscription</b>
    </a>
  </li>
  <li id="dash_dashboard">
    <a class="waves-effect" href="{% url 'demandesPassage' %}">
      <b>Demandes passage d`année</b>
    </a>
  </li>
  </ul>
  </ul>

  <header>
    <ul class="dropdown-content" id="user_dropdown">
      <li>
        <a class="indigo-text" href="{% url 'loginCFD' %}">Logout</a>
      </li>
    </ul>

    <nav class="indigo" role="navigation">
      <div class="nav-wrapper">
        <a data-activates="slide-out" class="button-collapse show-on-" href="#!">
          <img style="margin-top: 10px; margin-left: 10px; height: 60px;" src="{% static 'images/logo.png'%}" />
        </a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class='right dropdown-button' href='' data-activates='user_dropdown'>
              <i class=' material-icons'>account_circle</i>
            </a>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
    </nav>

    
  </header>


  <div class="contact-grids">
    <div class="col-md-6 contact-form mx-auto">
      <h4 class="heading">Affectation des doctorants</h4>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
      <form action="{% url 'ajouterEncadreur' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label style="font-size: 18px;">Liste des encadreurs</label>
          <select id="control" name="encadreur" class="form-control form-control-sm">
            <option value="" selected disabled>Encadreurs</option>
            {% for encadreur in encadreurs %}
              <option value="{{ encadreur.id }}">{{ encadreur.nom_prenom }}</option>
            {% endfor %}
          </select>  
          <label style="font-size: 18px;">Liste des doctorants</label>
          <select id="doctorant" name="doctorant" class="form-control form-control-sm">
            <option value="" selected disabled>Doctorants</option>
            {% for doctorant in doctorants %}
              {% if doctorant.inscription.all %}
                {% for inscription in doctorant.inscription.all %}
                  <option value="{{ doctorant.id }}"> {{ inscription.prenom }} {{ inscription.nom }}</option>
                {% endfor %}
              {% elif doctorant.reinscription.all %}
                {% for reinscription in doctorant.reinscription.all %}
                  <option value="{{ doctorant.id }}"> {{ reinscription.prenom }} {{ reinscription.nom }}</option>
                {% endfor %}
              {% else %}
                <option value="{{ doctorant.id }}">{{ doctorant.user.username }}</option>
              {% endif %}
            {% endfor %}
          </select>
          </div>
        <div class="submit1" align="center">
          <br>
          <button class="btn btn-primary btn-sm" type="submit">Appliquer</button>
        </div>
      </form>
    </div>
  </div>

  <br><br>
  <table>
    <thead>
      <tr>
        <th>N° inscription</th>
        <th>Doctorant</th>
        <th>Encadreur</th>
      </tr>
    </thead>
    <tbody>
      {% for doctorant in doctorants %}
      <tr>
        <td>{{ doctorant.user.username }}</td> 
        <td>
          {% if doctorant.inscription.all %}
            {% for inscription in doctorant.inscription.all %}
              {{ inscription.prenom }} {{ inscription.nom }}<br>
            {% endfor %}
          {% elif doctorant.reinscription.all %}
            {% for reinscription in doctorant.reinscription.all %}
              {{ reinscription.prenom }} {{ reinscription.nom }}<br>
            {% endfor %}
          {% endif %}
        </td>
        <td>{{ doctorant.encadreur.nom_prenom }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

  

</main>
   
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
<script src="{% static 'js/index.js'%}"></script>
</body>

</html>