{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paneaux d'administration</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css2/css/style.css' %}">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    
   
    <style>
    </style>
  </head>

<body >
  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="indigo darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 8%;" width="220" src="{% static 'images/logo.png'%}" class="responsive-img" />
        </div>
      </div>
    </li>
  </li>
  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="indigo darken-2 white-text" style="height: 180px;">
        <div class="row">
          <img style="margin-top: 8%;" width="220" src="{% static 'images/logo.png'%}" class="responsive-img" />
        </div>
      </div>
    </li>
    <li id="dash_dashboard">
      <a class="waves-effect" href="{% url 'dashboards' %}">
          <b>Dashboard</b>
      </a>
    </li>
    <li id="dash_dashboard">
        <a class="waves-effect" href="{% url 'liste_inscription_doyen' %}">
          <b>Liste des inscriptions</b>
        </a>
      </li>
    
    <li id="dash_dashboard">
      <a class="waves-effect" href="{% url 'liste_reinscription_doyen' %}">
        <b>Liste des réinscriptions</b>
      </a>
    </li>
    
    <li id="dash_dashboard">
      <a class="waves-effect" href="{% url 'etat_avencement_doyen' %}">
        <b>Situation doctorants</b>
      </a>
    </li>

    
    <li id="dash_dashboard">
      <a class="waves-effect" href="{% url 'editionPVdoyen' %}">
        <b>Edition de PV</b>
      </a>
    </li>
    <li id="dash_dashboard">
      <a class="waves-effect" href="{% url 'soutenanceDoyen' %}">
        <b>Soutenances</b>
      </a>
  </li>
  </ul>
  </ul>

  <header>
    <ul class="dropdown-content" id="user_dropdown">
      <li>
        <a class="indigo-text" href="{% url 'loginDoyen' %}">Logout</a>
      </li>
    </ul>

    <nav class="indigo" role="navigation">
      <div class="nav-wrapper">
        <a data-activates="slide-out" class="button-collapse show-on-" href="#!">
            <img style="margin-top: 10px; margin-left: 10px; height: 60px;" src="{% static 'images/logo.png'%}"/>
        </a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class='right dropdown-button' href='' data-activates='user_dropdown'>
              <i class=' material-icons'>account_circle</i>
            </a>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
    </nav>

    
  </header>

  <main>
    <div class="row">
      <div class="tableview" class="col s12">
      
        {% if inscriptions %}
        <table id="table" class="centered striped responsive-table">
          <thead>
            <tr>
              <th>N° inscription</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>titre du sujet</th>
              <th>date de 1ére inscription</th>
              <th>Nom encadreur</th>
              <th>Nom co-encadreur</th>
              <th>mail public(yahoo,gmail)</th>
              <th>mail institutionnel (edu@univ-oran1.dz)</th>
              <th>fichier d'inscription</th>
            </tr>
          </thead>
          <tbody id="result">
            {% for inscription in inscriptions %}
            <tr>
              <td>{{ inscription.numero_inscription }}</td>
              <td>{{ inscription.nom }}</td>
              <td>{{ inscription.prenom }}</td>
              <td>{{ inscription.titre_sujet }}</td>
              <td>{{ inscription.date_premier_inscription }}</td>
              <td>{{ inscription.nom_encadreur }}</td>
              <td>{{ inscription.nom_co_encadreur }}</td>
              <td>{{ inscription.mail_public }}</td>
              <td>{{ inscription.mail_institutionnel }}</td>
              <td>
                {% if inscription.fichier_inscription %}
                <a href="{{ inscription.fichier_inscription.url }}" download>Télécharger</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          {% else %}
          <p>No data available</p>
          {% endif %}
          </div>
          </div></div>
          
    
  </main>
          
    
  
   
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
  <script src="{% static 'js/index.js'%}"></script>
</body>

</html>