{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>login Post-Graduation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800" rel="stylesheet">
</head>
<style>/* CSS for Mise à jour de ma situation section */
	.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
      width: 84%;
      height: 100px;
    right: 0;
    text-align: center;
    }
th,td {
    border: 1px solid black;
    padding: 10px;
}
#data {
    margin-bottom: 10px;
}
#data input, button {
    padding: 10px;
    width: 90px;
}
.btnDelete,
  .btnEdit {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .btnEdit {
    background-color: #3498db;
  }
  .action-cell {
    border-left: none;
    border-right: none;
  }
	</style>
<body>

	<body>
		<div class="header" id="home">
			<div class="top">
				<div class="container">
					<div class="col-md-9 top-left">
						<ul>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran.dz">Mail@univ-oran.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran1.dz">Mail@univ-oran1.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@doctorant">Mail@doctorant</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="top-bar">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="{% url 'index' %}">
								<img src="{% static 'images/logo.jpg'%}" height="65" />
							</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							
							<ul class="nav navbar-nav navbar-right">
								
								<li>
									<a href="{% url 'point' %}">Mes points</a>
								</li>
								<li>
									<a href="{% url 'etat_d`avencement' %}" style="text-transform: none;">Mise à jour de ma situation</a>
								</li>
								<li>
									<a href="{% url 'passage_annee' %}" style="text-transform: none;">Demande passage d'année</a>
								</li>
								<li>
									<a href="{% url 'index' %}">Déconnecter</a>
								</li>
							</ul>
						</div><br><br><br><br><br>
						


						{% if editions %}
<table>
    <thead>
        <tr>
            <th>Doctorant</th>
            <th>Cours de spécialité</th>
            <th>Méthodologie de recherche et Initiation à la pédagogie</th>
            <th>Compétences en anglais</th>
            <th>Communications (max 2 Nat,Int) Nat=10pts, Int=12.5pts</th>
            <th>Publication</th>
            <th>Tic</th>
            <th>Brevet</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for edition in editions %}
        <tr>
            <td>{{ edition.doctorant }}</td>
            <td>{{ edition.cours_de_spécialité }}</td>
            <td>{{ edition.methodologie }}</td>
            <td>{{ edition.compétences_anglais }}</td>
            <td>{{ edition.communications1 }} / {{ edition.communications2 }}</td>
            <td>{{ edition.publication1 }} / {{ edition.publication2 }} / {{ edition.publication3 }} / {{ edition.publication4 }} / {{ edition.publication5 }}</td>
            <td>{{ edition.tic }}</td>
            <td>{{ edition.brevet }}</td>
            <td>{{ edition.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data available.</p>
{% endif %}


			  
			  
		</section>
		
		
		<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js'%}"></script>
		<script src="{% static 'js/main.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
		<a href="#home" id="toTop" style="display: block;">
			<span id="toTopHover" style="opacity: 1;"> </span>
		</a>
		<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
	</body>

</html>